@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@layer base {
  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
    margin: 0;
    padding: 0;
    /* Optional: Prevents "rubber-banding" scroll on iOS */
    overflow-x: hidden;
  }
}

@layer utilities {
  /* Custom utility to hide scrollbars but keep functionality for carousels */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  /* Safe area padding for iPhones with notches */
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}